
<header class="bg-black">
    <div class="flex  items-center space-x-2 md:space-x-10">
        <img src="https://rb.gy/ulxxee" alt="logo" height="100" width="100">

        <ul class="hidden items-center md:flex space-x-10">
            
            <li class="text-sm cursor-pointer font-light text-[#e5e5e5] transition duration-[.4s] hover:text-[#b3b3b3]"><a (click)="onMenuClicked('trending_now')">Trending Now</a> </li>
            <li class="text-sm cursor-pointer font-light text-[#e5e5e5] transition duration-[.4s] hover:text-[#b3b3b3]"><a  (click)="onMenuClicked('netflix_original')">Netflix Originals</a> </li>
            <li class="text-sm cursor-pointer font-light text-[#e5e5e5] transition duration-[.4s] hover:text-[#b3b3b3]"><a  (click)="onMenuClicked('action')">Action</a></li>

            <!-- <li class="items-end text-sm cursor-pointer font-light text-[#e5e5e5] transition duration-[.4s] hover:text-[#b3b3b3]"><a href="#">Logout</a> </li> -->
            
        </ul>

    
    </div>
    <button class=" pr-5 text-sm cursor-pointer font-light text-[#e5e5e5] transition duration-[.4s] hover:text-[#b3b3b3]"><a href="#">Logout</a></button>
</header>
