<div class="h-40 space-y-0.5 md:space-y-2">
    
    <div class="group relative md:-ml-2">
            <div class="  flex  items-center flex-wrap space-x-0.5   md:space-x-2.5 md:p-2" ref={rowRef}>
                <section id="netflix_original" class="overflow-x-scroll no-scrollbar"><app-thumbnail apiType="Netflix original"></app-thumbnail> </section>
                <section id="trending_now" class="overflow-x-scroll no-scrollbar"><app-thumbnail apiType="Trending Now"></app-thumbnail></section>
                <section id="action" class="overflow-x-scroll no-scrollbar"><app-thumbnail apiType="Action"></app-thumbnail>   </section>       
            </div>
    </div>
</div>