<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header class="static h-auto mb-5">
        <app-header></app-header>
    </header>
    <main class="mt-50">
        <!-- banner -->
        <section  class="m-10 md:space-y-24">
            <app-row-movie title="Trending Now"></app-row-movie>
        </section>
        <!-- Modal -->
    </main>
    
</body>
</html>

